<ng-container *ngIf="step$ | async as step">
  <mat-button-toggle-group [value]="step" (change)="selectStep($event.value)">
    <mat-button-toggle [value]="newBookStep.info">Info</mat-button-toggle>
    <mat-button-toggle [value]="newBookStep.price">Price</mat-button-toggle>
  </mat-button-toggle-group>
  <ng-container [ngSwitch]="step">
    <ws-new-book-info *ngSwitchCase="newBookStep.info"></ws-new-book-info>

    <ws-new-book-price *ngSwitchCase="newBookStep.price"></ws-new-book-price>
  </ng-container>
</ng-container>
